{% extends 'base.html.twig' %}
{% block body %}
        <main class="content, container">
        <div class="searchWhere"><span class="searchText">Où ?</span><span class="searchText">Prix ?</span>
            <select class="inputCity" name="city" >
                <option value="paris">Paris</option>
                <option value="nice">Nice</option>
                <option value="marseille">Marseille</option>
                <option value="rennes">Rennes</option>
                <option value="strasbourg">Strasbourg</option>
            </select>
            <input class="inputNumberLeft" type="number"> - <input class="inputNumberRight" type="number">
        </div>

            <input class="searchInputType" type="text" placeholder="&nbsp;&nbsp;&nbsp;Quel costume voulez-vous ?"> <input class="searchButtonType" type="button">
        <div class="contentCat">
            <div  class="annonceCatFirst"></div>
            <div class="detail">
                <span class="price">7€/jour</span><br>
                <span class="avis">Avis *****</span><br>
                <span class="costumeName">Spider-man</span><br>
                <span class="adress">75011 - Paris</span><br>
            </div>
        </div>
            <div class="contentCat">
                <div  class="annonceCat"></div>
                <div class="detail">
                    <span class="price">7€/jour</span><br>
                    <span class="avis">Avis *****</span><br>
                    <span class="costumeName">Spider-man</span><br>
                    <span class="adress">75011 - Paris</span><br>
                </div>
            </div>
            <div class="contentCat">
                <div  class="annonceCat"></div>
                <div class="detail">
                    <span class="price">7€/jour</span><br>
                    <span class="avis">Avis *****</span><br>
                    <span class="costumeName">Spider-man</span><br>
                    <span class="adress">75011 - Paris</span><br>
                </div>
            </div>
            <div class="contentCat">
                <div  class="annonceCat"></div>
                <div class="detail">
                    <span class="price">7€/jour</span><br>
                    <span class="avis">Avis *****</span><br>
                    <span class="costumeName">Spider-man</span><br>
                    <span class="adress">75011 - Paris</span><br>
                </div>
            </div>
            <div class="contentCatLast">
                <div  class="annonceCat"></div>
                <div class="detail">
                    <span class="price">7€/jour</span><br>
                    <span class="avis">Avis *****</span><br>
                    <span class="costumeName">Spider-man</span><br>
                    <span class="adress">75011 - Paris</span><br>
                </div>
            </div>
    </main>
{% endblock %}