{% trans_default_domain 'FOSUserBundle' %}

<div class='profileContainer'>
	<h1 class='profileTitle'>Inscrivez-vous</h1>
	<div class='registerBlock'>
		{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
		     {{ form_widget(form) }}
	</div>
    <div>
        <input type="submit" class='buttonForm' value="{{ 'registration.submit'|trans }}" />
    </div>
</div>
{{ form_end(form) }}
