<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../web/asset/scss/style.css">
    <meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>
<div  class="site-pusher">
    <header role="banner" class="header">
        <a href="#" class="header__icon" id="header__icon"></a>
        <a class="logoLink" href="#"><img class="logo"  src="../../../web/img/Disguize.png"></a>
        <nav role="menu" class="menu">
            <a href="#" class="logoMenu"><img class="disguizeLogo" src="../../../web/img/DisguizeLogo.png"></a>
            <a href="#"><img class="imgMenu" src="../../../web/img/Accueil.png">&nbsp;&nbsp;Accueil</a>
            <a href="#"><img class="imgMenu" src="../../../web/img/annonce.png">&nbsp;&nbsp;Déposer une annonce</a>
            <a href="#"><img class="imgMenu" src="../../../web/img/Inscription.png">&nbsp;&nbsp;Inscription</a>
            <a href="#"><img class="imgMenu" src="../../../web/img/connexion.png">&nbsp;&nbsp;Connexion</a>
        </nav>
        <img  class="shop" src="../../../web/img/Shop.png">
    </header>
    <main class="content, container">
        <div class="searchWhere"><span class="searchText">Où ?</span><span class="searchText">Prix ?</span>
            <select class="inputCity" name="city" >
                <option value="paris">Paris</option>
                <option value="nice">Nice</option>
                <option value="marseille">Marseille</option>
                <option value="rennes">Rennes</option>
                <option value="strasbourg">Strasbourg</option>
            </select>
            <input class="inputNumberLeft" type="number"> - <input class="inputNumberRight" type="number">
        </div>

            <input class="searchInputType" type="text" placeholder="&nbsp;&nbsp;&nbsp;Quel costume voulez-vous ?"> <input class="searchButtonType" type="button">
        <div  class="annonceCatFirst"></div>
        <div class="detail">
            <span class="price">7€/jour</span><br>
            <span class="avis">Avis *****</span><br>
            <span class="costumeName">Spider-man</span><br>
            <span class="adress">75011 - Paris</span><br>
        </div>
        <div  class="annonceCat"></div>
        <div class="detail">
            <span class="price">7€/jour</span><br>
            <span class="avis">Avis *****</span><br>
            <span class="costumeName">Spider-man</span><br>
            <span class="adress">75011 - Paris</span><br>
        </div>
        <div  class="annonceCat"></div>
        <div class="detail">
            <span class="price">7€/jour</span><br>
            <span class="avis">Avis *****</span><br>
            <span class="costumeName">Spider-man</span><br>
            <span class="adress">75011 - Paris</span><br>
        </div>
        <div  class="annonceCat"></div>
        <div class="detail">
            <span class="price">7€/jour</span><br>
            <span class="avis">Avis *****</span><br>
            <span class="costumeName">Spider-man</span><br>
            <span class="adress">75011 - Paris</span><br>
        </div>
        <div  class="annonceCat"></div>
        <div class="detail">
            <span class="price">7€/jour</span><br>
            <span class="avis">Avis *****</span><br>
            <span class="costumeName">Spider-man</span><br>
            <span class="adress">75011 - Paris</span><br>
        </div>
    </main>
 </div>
</body>
<script src="../../../web/asset/js/jquery-1.11.3.min.js"></script>
<script src="../../../web/asset/js/app.js"></script>
</html>