<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../web/asset/scss/style.css">
    <meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>
<div  class="site-pusher">
    <header role="banner" class="header">
        <a href="#" class="header__icon" id="header__icon"></a>
        <a class="logoLink" href="#"><img class="logo" width="30%" height="auto"  src="../../../web/img/Disguize.png"></a>
        <nav role="menu" class="menu">
            <a href="#" class="logoMenu"><img width="60%" height="auto" src="../../../web/img/DisguizeLogo.png"></a>
            <a href="#"><img width="10%" height="auto" src="../../../web/img/Accueil.png">&nbsp;&nbsp;Accueil</a>
            <a href="#"><img width="10%" height="auto" src="../../../web/img/annonce.png">&nbsp;&nbsp;Déposer une annonce</a>
            <a href="#"><img width="10%" height="auto" src="../../../web/img/Inscription.png">&nbsp;&nbsp;Inscription</a>
            <a href="#"><img width="10%" height="auto" src="../../../web/img/connexion.png">&nbsp;&nbsp;Connexion</a>
        </nav>
        <img width="7%" height="auto" class="shop" src="../../../web/img/Shop.png">
    </header>
    <main class="content, container">
        <div class="pinkCGU">Condition Générale de location</div>
        <div class="CGU">Les présentes conditions ont été modifiées le 1er Janvier 2016 à 09h00.  Le présent document s’intitulant les Conditions Générales de Location (CGL) définit les conditions applicables aux locations conclues entre d'une part les personnes souhaitant effectuer une location via le site internet de Disguize.fr (http://www.disguize.fr), ci-après dénommées "le déguisé" et d'autre part le "déguiseur" dont le siège social est situé à PARIS, 95 avenue Parmentier 75011, TPE au capital de 90 000€, dont le numéro de TVA intracommunautaire est FR17500375796, ci-après dénommée « Disguize.fr ».

        La société DISGUIZE pourra modifier à tout moment les présentes CGL. Le client sera informé de la nature de ces modifications dès leur mise en ligne sur le site http://www.disguize.fr.

        Les modifications entreront en vigueur 1 jour après leur mise en ligne sur le site.<br><br>

        Seules les CGL publiées le jour de la commande sont applicables. Elles sont portées à la connaissance du client lors de la commande passée par celui-ci qui les aura acceptées avant toute confirmation de cette dernière.
        <br><br>

        <div class="greyBlock"><span class="title">Mentions légales</span><br>

            Le présent site Internet  www.disguize.fr est édité par la société DISGUIZE dont le siège social est situé à 95 avenue Parmentier, 75011 PARIS.<br><br>

            TPE au capital de 90 000€,<br><br>

            Numéro de TVA FR17500375796<br><br>

            Téléphone : 01 23 95 89 30 E-mail : contact@disguize.fr<br><br>

            Nos conseillers sont à votre disposition du lundi au vendredi de 9 heures à 17 heures.<br><br>

            Directeur de la publication : Monsieur MOREAU en qualité de dirigeant de la société DISGUIZE.<br><br>

            Hébergement : OVH<br><br>

            Siège social : 95 avenue Parmentier, 75011 PARIS, France<br><br>
            </div>
        </div>

        <div class="CGU"><span class="title">I. Nos Prix</span><br>

        Tous les prix des produits sont indiqués en euros toutes taxes comprises (TTC) hors partici
        pation aux frais d'expédition. Les produits seront facturés sur la base des tarifs en vigueur au moment de l'enregistrement des commandes. Les produits demeurent la propriété de Disguize.fr jusqu'au complet encaissement du prix par Disguize.fr. Le prix est payable en totalité et en un seul versement.
        Disguize.fr affiche sur son site des prix conseillés correspondant aux prix conseillés par les déguiseurs de ce produit. Ce ne sont en aucun cas des soldes et peuvent donc fluctuer.<br><br>


        Les produits commandés et les offres promotionnelles proposés sur le site Disguize.fr ne sont valables que pour les produits et dans la limite des stocks disponibles. Les offres de produits et les prix ne sont valables que tant qu'ils sont visibles sur le site et dans la limite des stocks disponibles.<br><br>


        Tous les prix des produits sont indiqués en euros toutes taxes comprises (TTC) hors participation aux frais d'expédition. Les produits seront facturés sur la base des tarifs en vigueur au moment de l'enregistrement des commandes. Les produits demeurent la propriété de Disguize.fr jusqu'au complet encaissement du prix par Disguize.fr. Le prix est payable en totalité et en un seul versement.
        Disguize.fr affiche sur son site des prix conseillés correspondant aux prix conseillés par les déguiseurs de ce produit. Ce ne sont en aucun cas des soldes et peuvent donc fluctuer.


        Les produits commandés et les offres promotionnelles proposés sur le site Disguize.fr ne sont valables que pour les produits et dans la limite des stocks disponibles. Les offres de produits et les prix ne sont valables que tant qu'ils sont visibles sur le site et dans la limite des stocks disponibles.<br><br>
        </div>
        <div class="CGU"><span class="title">II. Nos engagements qualité</span><br>



        Label Trusted Shops :<br><br>

        Disguize.fr est détenteur du Label Trusted Shops<br><br>

        Trusted Shops certifie les sites e-commerce en vérifiant minutieusement un ensemble de critères de qualité, avant d'attribuer le label de qualité européen. Grâce à la combinaison de la garantie de remboursement et du système Avis clients Trusted Shops, vous pouvez louer en ligne en toute confiance.<br><br>


        Charte qualité Fevad :<br><br>


        La Fevadest l’organisation représentative du secteur du commerce électronique et de la vente à distance. Elle accorde depuis toujours la plus grand importance à la promotion de règles fondées sur des valeurs de transparence et de respect du consommateur. Ces règles, mentionnées dans la Charte Qualité, garantissent l’éthique de la profession et permettent de renforcer la confiance des consommateurs, dans l'intérêt de l'ensemble de la profession. Disguize.fr, adhérent FEVAD, s’engage à respecter l’ensemble de ces règles de bonnes pratiques du commerce en ligne.<br><br>


        Evaluations E-Komi :<br><br>

        La société E-Komi envoi un questionnaire de satisfaction à vos clients et établie ensuite une notation et publie l’ensemble de ces évaluations.<br><br>

        Vous pouvez ainsi accéder en toute transparence aux avis de nos clients  concernant nos services et nos produits. E-Komi garantie de véritables avis produits.<br><br>


        Google Marchands de Confiance :<br><br>

        Est un outil, mis en place par Google, permettant aux clients de connaître les performances, d’un site e-commerce, en termes de délais de préparation de commande et de qualité du service client. Google s’engage également à vous aider à résoudre tout problème relatif à votre commande et garantit vos achats jusqu’à un montant de 1 000 €. Disguize.fr est un marchand de confiance Google vous pouvez ainsi effectuer vos achats en toute tranquillité.<br><br>
        </div>
    </main>
    <div class="findCostume">
        <span class="disguizeYou">Déguisez-vous!</span>
        <button class="disguizeButton">Trouver un costume</button>
    </div>
    <footer class="footer">
        <div class="footerText">Nous contacter</div>
        <div class="footerText">CGU</div>
        <div class="footerText">Mentions légales</div>
        <hr>
        <div class="footerText">© Desguize.fr - 2016</div>
        <div class="footerText">Locations de déguisements entre particuliers</div>
    </footer>
</div>
</body>
<script src="../../../web/asset/js/jquery-1.11.3.min.js"></script>
<script src="../../../web/asset/js/app.js"></script>
</html>