<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../web/asset/scss/style.css">
    <meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>
<div  class="site-pusher">
    <header role="banner" class="header">
        <a href="#" class="header__icon" id="header__icon"></a>
        <a class="logoLink" href="#"><img class="logo" width="30%" height="auto"  src="../../../web/img/Disguize.png"></a>
        <nav role="menu" class="menu">
            <a href="#" class="logoMenu"><img width="60%" height="auto" src="../../../web/img/DisguizeLogo.png"></a>
            <a href="#"><img width="10%" height="auto" src="../../../web/img/Accueil.png">&nbsp;&nbsp;Accueil</a>
            <a href="#"><img width="10%" height="auto" src="../../../web/img/annonce.png">&nbsp;&nbsp;Déposer une annonce</a>
            <a href="#"><img width="10%" height="auto" src="../../../web/img/Inscription.png">&nbsp;&nbsp;Inscription</a>
            <a href="#"><img width="10%" height="auto" src="../../../web/img/connexion.png">&nbsp;&nbsp;Connexion</a>
        </nav>
        <img width="7%" height="auto" class="shop" src="../../../web/img/Shop.png">
    </header>
    <main class="content, container, centred">
        <div class="pinkCGU">Nous Contacter</div>
        <div class="why">Pourquoi ?</div>
        <div class="pinkPb">Annonce Refusée</div>
        <div class="yellowPb">Gestion D'annonce</div>
        <div class="pinkPb">Sécurité</div>
        <div class="yellowPb">Gestion de compte</div>
        <div class="pinkPb">Problème technique</div>
    </main>
    <form class="contactUs">
        <div class="contact">Contactez nous</div>
        <hr>
        <div class="formContact">Nom*  <input class="formInputContact" type="text"></div>
        <div class="formContact">Email* <input class="formInputContact" type="email"></div>
        <div class="formContact">Message* <br><textarea class="formInputMessage"></textarea></div>
        <input class="submitForm" type="button" value="Send">
    </form>
    <div class="findCostume">
        <span class="disguizeYou">Déguisez-vous!</span>
        <button class="disguizeButton">Trouver un costume</button>
    </div>
    <footer class="footer">
        <div class="footerText">Nous contacter</div>
        <div class="footerText">CGU</div>
        <div class="footerText">Mentions légales</div>
        <hr>
        <div class="footerText">© Desguize.fr - 2016</div>
        <div class="footerText">Locations de déguisements entre particuliers</div>
    </footer>
</div>
</body>
<script src="../../../web/asset/js/jquery-1.11.3.min.js"></script>
<script src="../../../web/asset/js/app.js"></script>
</html>