<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../web/asset/scss/style.css">
    <meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>
<div  class="site-pusher">
    <header role="banner" class="header">
        <a href="#" class="header__icon" id="header__icon"></a>
        <a class="logoLink" href="#"><img class="logo"  src="../../../web/img/Disguize.png"></a>
        <nav role="menu" class="menu">
            <a href="#" class="logoMenu"><img class="disguizeLogo" src="../../../web/img/DisguizeLogo.png"></a>
            <a href="#"><img class="imgMenu" src="../../../web/img/Accueil.png">&nbsp;&nbsp;Accueil</a>
            <a href="#"><img class="imgMenu" src="../../../web/img/annonce.png">&nbsp;&nbsp;Déposer une annonce</a>
            <a href="#"><img class="imgMenu" src="../../../web/img/Inscription.png">&nbsp;&nbsp;Inscription</a>
            <a href="#"><img class="imgMenu" src="../../../web/img/connexion.png">&nbsp;&nbsp;Connexion</a>
        </nav>
        <img  class="shop" src="../../../web/img/Shop.png">
    </header>
    <div class="product">
        <div class="imgProduct"></div>
        <div class="imgUser"></div>
        <div class="productName">Costume de Spider-Man</div>
        <div class="productRenter">Mickael, Paris 75013</div>
        <div class="productDescription">
            <div class="description">Description</div>
            <div class="productDetail">Costume de Spiderman, cagoule et tenue.
                Il n’a servi que 2 fois, en excellent état.
            </div>
        </div>
        <div class="productComment">
            <div class="commentNumber">13 Commentaires</div>
            <div class="comment">
                <div class="imgCommentUser"></div>
                <div class="commentUserName">Alexis</div><br>
                <div class="commentAvis">Avis*****</div>
                <div class="commentText">Très bon état, rien à dire !</div><br>
            </div>
            <input type="button" class="allComment" value="Tous les commentaires">
            <input type="button" class="order" value="Réserver">
        </div>
        <div class="commentNumber">Article similaire</div>
            <div class="similarProduct">
                <div  class="annonceCat"></div>
                <div class="detail">
                    <span class="price">11€/jour</span><br>
                    <span class="avis">Avis *****</span><br>
                    <span class="costumeName">Sorcière</span><br>
                    <span class="adress">75011 - Paris</span><br>
                </div>
            </div>
        </div>
    </div>
    <div class="findCostume">
        <span class="disguizeYou">Déguisez-vous!</span>
        <button class="disguizeButton">Trouver un costume</button>
    </div>
    <footer class="footer">
        <div class="footerText">Nous contacter</div>
        <div class="footerText">CGU</div>
        <div class="footerText">Mentions légales</div>
        <hr>
        <div class="footerText">© Desguize.fr - 2016</div>
        <div class="footerText">Locations de déguisements entre particuliers</div>
    </footer>
</div>
</body>
<script src="../../../web/asset/js/jquery-1.11.3.min.js"></script>
<script src="../../../web/asset/js/app.js"></script>
</html>