<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../web/asset/scss/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
</head>
<body>
<div  class="site-pusher">
    <header role="banner" class="header">
        <a href="#" class="header__icon" id="header__icon"></a>
        <a class="logoLink" href="#"><img class="logo" width="30%" height="auto"  src="../../../web/img/Disguize.png"></a>
        <nav role="menu" class="menu">
            <a href="#" class="logoMenu"><img width="60%" height="auto" src="../../../web/img/DisguizeLogo.png"></a>
            <a href="#"><img width="10%" height="auto" src="../../../web/img/Accueil.png">&nbsp;&nbsp;Accueil</a>
            <a href="#"><img width="10%" height="auto" src="../../../web/img/annonce.png">&nbsp;&nbsp;Déposer une annonce</a>
            <a href="#"><img width="10%" height="auto" src="../../../web/img/Inscription.png">&nbsp;&nbsp;Inscription</a>
            <a href="#"><img width="10%" height="auto" src="../../../web/img/connexion.png">&nbsp;&nbsp;Connexion</a>
        </nav>
        <img width="7%" height="auto" class="shop" src="../../../web/img/Shop.png">
    </header>
        <div class="site-container">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vestibulum ex vel elit congue, eget finibus velit feugiat. Praesent ultricies, quam sit amet blandit faucibus, neque ipsum lacinia massa, vitae pharetra leo est sed tortor. Aliquam aliquam velit metus, in ultrices turpis porttitor a. Etiam dictum dictum ipsum, non vestibulum odio vulputate nec. Curabitur eleifend maximus nulla, at vehicula justo lacinia a. Nunc ultrices pharetra interdum. Praesent quis porta mauris. Integer pulvinar commodo augue ac aliquam. Phasellus ut sodales enim. Maecenas tempus eros et eros fermentum, sit amet posuere erat molestie. Maecenas in massa rhoncus, lobortis nunc imperdiet, convallis massa. Donec in egestas tortor, efficitur pretium urna. Cras accumsan arcu eu arcu cursus, a ornare sem scelerisque. Sed posuere diam vitae est pulvinar, rutrum pharetra sem rhoncus. Mauris non cursus ante, et pellentesque justo. Nulla vel vestibulum lacus, a interdum ex.

            Suspendisse potenti. Ut sed eros eu neque aliquam elementum. Vivamus lacus erat, aliquet eget velit non, placerat luctus eros. Aliquam gravida vestibulum massa vitae dapibus. Nullam viverra ullamcorper nibh ac sodales. Vivamus a nibh justo. Quisque ullamcorper, massa ut facilisis feugiat, tortor metus maximus urna, cursus dapibus sapien mauris ut urna. Donec imperdiet risus nec accumsan sodales. Proin bibendum risus eleifend scelerisque mollis. Vivamus finibus condimentum erat, sed ultricies quam rhoncus sit amet. Nullam vitae suscipit lectus, in pretium elit. Nunc in quam non dui pellentesque tincidunt. Donec elementum eleifend libero, eget vulputate neque molestie eget. Nulla facilisi. Ut at lacinia quam.

            Praesent vitae ornare sem. Maecenas molestie elit a dapibus maximus. Sed condimentum vel quam at placerat. Vivamus non nulla nibh. Nam quis sem enim. Proin non leo vulputate, tincidunt sem vitae, volutpat nisl. Mauris at feugiat turpis. Duis sit amet lacus velit. Phasellus pulvinar massa lacus, a auctor mauris pretium eu. Duis dignissim maximus dolor, quis porta nisi molestie sed. Maecenas a quam tincidunt est ultricies auctor ac ac purus. Mauris ac urna nunc. Nullam non magna vel enim tincidunt tincidunt nec eget nulla. Donec condimentum vestibulum est at semper. Donec vitae eleifend urna. Cras quis nibh libero.

            Mauris at lectus nec libero efficitur facilisis sed at dui. Vivamus nec aliquam elit. Nulla scelerisque nisl nisi, vel vehicula neque finibus vitae. Integer eu est ut dui mattis lobortis. Aenean ac risus neque. Cras vitae libero tempus, aliquam sem quis, cursus neque. Ut sodales volutpat leo.

            Pellentesque sed mattis dui. Pellentesque aliquet vehicula libero ut facilisis. Praesent velit dui, pretium eget dolor eget, ultrices blandit eros. Aenean rhoncus mauris ac leo ultricies efficitur. Quisque a tellus sed orci tincidunt volutpat. Quisque sagittis justo nec arcu auctor vehicula. Phasellus eu pulvinar felis. Donec mattis dolor sed arcu luctus ullamcorper. Nulla malesuada metus nulla, id tempor lectus suscipit vitae. Aliquam convallis lacus at dui consectetur, vel aliquam sem mollis. Donec tincidunt, ligula sit amet ullamcorper pellentesque, turpis ante pellentesque velit, id accumsan quam tortor at tellus. Quisque efficitur euismod est, vitae aliquam velit consectetur volutpat.</div>
    </div>
</body>
<script src="../../../web/asset/js/jquery-1.11.3.min.js"></script>
    <script src="../../../web/asset/js/app.js"></script>
</html>