<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../web/asset/scss/style.css">
    <meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>
<div  class="site-pusher">
    <header role="banner" class="header">
        <a href="#" class="header__icon" id="header__icon"></a>
        <a class="logoLink" href="#"><img class="logo" width="30%" height="auto"  src="../../../web/img/Disguize.png"></a>
        <nav role="menu" class="menu">
            <a href="#" class="logoMenu"><img width="60%" height="auto" src="../../../web/img/DisguizeLogo.png"></a>
            <a href="#"><img width="10%" height="auto" src="../../../web/img/Accueil.png">&nbsp;&nbsp;Accueil</a>
            <a href="#"><img width="10%" height="auto" src="../../../web/img/annonce.png">&nbsp;&nbsp;Déposer une annonce</a>
            <a href="#"><img width="10%" height="auto" src="../../../web/img/Inscription.png">&nbsp;&nbsp;Inscription</a>
            <a href="#"><img width="10%" height="auto" src="../../../web/img/connexion.png">&nbsp;&nbsp;Connexion</a>
        </nav>
        <img width="7%" height="auto" class="shop" src="../../../web/img/Shop.png">
    </header>
    <main role="main" class="content, container">
        <span class="pannier">Contenu de votre pannier</span>
        <div class="pannierContent">
            <div class="imgContent"></div>
            <span class="desguiseContent">x1 déguisement de spider-man (taille L/M)</span>
            <span class="pricePannier">Prix unitaire : 11.40€</span>
            <span class="dateLocation">du 15/05/2016 au 18/05/2016</span>
            <input type="button" class="pannierButton" value="Retirer cet article">
            <hr class="pannierHR">
            <span class="pricePannier">Sous total : 11.40€</span>
            <input type="button" class="pannierButton" value="Continuer vos achats">
            <input type="button" class="pannierButton1" value="Vider le panier">
        </div>
        <div class="personnalInfo">
            <div class="infoTitle">Information personnelles</div>
            <img class="imgOne" src="../../../web/img/one.png"><span class="title">&nbsp;&nbsp;Authentification</span>
            <form>
                <div><span class="nameInput">Email : </span><input class="formInput" type="email"></div><br>
                <div><span class="nameInput">Mot de passe : </span><input class="formInput" type="password"></div><br>
                <div><span class="nameInput">Vérification MDP : </span><input class="formInput" type="password"></div><br>
                <div><span class="nameInput">Nom : </span><input class="formInput" type="text"></div><br>
                <div><span class="nameInput">Prénom : </span><input class="formInput" type="text"></div><br>
                <div><span class="nameInput">Adresse : </span><input class="formInput" type="text"></div><br>
                <div><span class="nameInput">Code Postal : </span><input class="formInput" type="number"></div><br>
            </form>
        </div>
        <div class="DeliveryInfo">
            <img class="imgOne" src="../../../web/img/two.png"><span class="title">&nbsp;&nbsp;Informations de livraisons</span>
            <div class="deliveryTips">L’adresse de livraison est facultative, vous pouvez aussi bien aller chercher votre déguisement directement chez le loueur.</div>
            <div><input class="deliveryChoice" type="checkbox" name="delivery" value="yes">Je veux me faire livrer</div>
            <form>
                <div><span class="nameInput">Adresse : </span><input class="formInput" type="text"></div><br>
                <div><span class="nameInput">Ville : </span><input class="formInput" type="text"></div><br>
                <div><span class="nameInput">Code Postal : </span><input class="formInput" type="number"></div><br>
                <div class="deliveryTips">Si vous habitez en France métropolitaine, Disguize vous expédie votre commande par Coliposte. Les frais de livraison sont de 9€. </div>
                <img class="centerLogo" src="../../../web/img/coliposte.png">
            </form>
        </div>
        <div class="paying">
            <img class="imgOne" src="../../../web/img/three.png"><span class="title">&nbsp;&nbsp;Informations bancaires</span>
            <div class="payingTab">
                <img width="10%" height="auto" src="../../../web/img/cadenas.png"><span class="securePay">Paiement Sécurisé</span>
                <hr>
                <span>Numéro de Carte : </span>
                <input type="number"><br>
                <span>Cryptogramme visuel : </span>
                <input class="crypto" type="number"><br>
                <span>Date d'expiration : </span>
                <input class="date" type="number"> / <input class="date" type="number"><br>
                <span>Titulaire de la carte : </span>
                <input class="crypto" type="text"><br><br>
                <img width="30%" src="../../../web/img/CB.png">
                <img width="30%" src="../../../web/img/mastercard.png">
                <img width="30%" src="../../../web/img/visa.png">
                <img width="30%" src="../../../web/img/verifvisa.png">
                <img width="30%" src="../../../web/img/verifmastercard.png">
            </div>
        </div>
        <img class="imgOne" src="../../../web/img/four.png"><span class="title">&nbsp;&nbsp;Récapitulatif de la commande et validation</span>
        <div class="pannierContent">
            <div class="imgContent"></div>
            <span class="desguiseContent">x1 déguisement de spider-man (taille L/M)</span>
            <span class="pricePannier">Prix unitaire : 11.40€</span>
            <span class="dateLocation">du 15/05/2016 au 18/05/2016</span>
            <hr class="pannierHR">
            <span>Livraison non prix en charge</span><span class="price">0.00€</span>
            <hr class="pannierHR">
            <span>Caution</span><span class="price">25.00€</span>
            <hr class="pannierHR">
            <span class="pricePannier">Sous total : 36.40€</span>
        </div>
    </main>
    <div class="findCostume">
        <span class="disguizeYou">Déguisez-vous!</span>
        <button class="disguizeButton">Trouver un costume</button>
    </div>
    <footer class="footer">
        <div class="footerText">Nous contacter</div>
        <div class="footerText">CGU</div>
        <div class="footerText">Mentions légales</div>
        <hr>
        <div class="footerText">© Desguize.fr - 2016</div>
        <div class="footerText">Locations de déguisements entre particuliers</div>
    </footer>
</div>
</body>
<script src="../../../web/asset/js/jquery-1.11.3.min.js"></script>
<script src="../../../web/asset/js/app.js"></script>
</html>