{% trans_default_domain 'FOSUserBundle' %}
<div class='profileContainer'>
	<h1 class='profileTitle'>Profil</h1>
	<img class='profilePhoto' src="{{ asset('bundles/desguize/images/'~user.photoProfile) }}">
	<div class="fos_user_user_show infoProfile">
	    <p>{{ user.username }}</p><br>
	    <p>{{ user.email }}</p>
	</div>
</div>